/*header开始*/
.header-nav{
    height:0.88rem;
    width: 100%;
    background: #0084ff;

}
main{
    height: 100%;
    width: 95%;
    /*background: red;*/
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}
.icon-zuo{
    display: block;
    height: 100%;
    width: 12%;
    /*background: red;*/
    float: left;
    font-size: 0.6rem;
    line-height: 0.88rem;
    text-align: center;
    color: #fff;
}
.center-text{
    width: 40%;
    height: 100%;
    margin: 0 auto;
    /*float: left;*/
    /*background: red;*/
    font-size: 0.5rem;
    line-height: 0.88rem;
    text-align: center;
    color: #fff;
}
.center-text i{
    font-size: 0.3rem;
    line-height: 0.9rem;
    color: #fff;
    text-align: right;
}
.icon-16{
    display: block;
    height: 100%;
    width: 12%;
    /*background: red;*/
    float: right;
    font-size: 0.6rem;
    line-height: 0.88rem;
    text-align: center;
    color: #fff;
}

/*headerjieshu*/

#wrapper {
    position: absolute;
    z-index: 1;
    top: 90px;
    bottom: 0px;
    left: 0;
    width: 100%;
    /*background: #ccc;*/
    overflow: hidden;
}

#scroller {
    padding: 0.1rem;
}