
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1501602991962'); /* IE9*/
  src: url('iconfont.eot?t=1501602991962#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1501602991962') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1501602991962') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1501602991962#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:18px;
  font-style:normal;
  /* color: #DE2828; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xihuan:before { content: "\e616"; }

