
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1501773905927'); /* IE9*/
  src: url('iconfont.eot?t=1501773905927#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1501773905927') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1501773905927') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1501773905927#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yuanquan:before { content: "\e63b"; }

.icon-duihao:before { content: "\e65b"; }

.icon-feiji:before { content: "\e624"; }

.icon-shijian:before { content: "\e88f"; }

.icon-zhanghu:before { content: "\e6bc"; }

.icon-xiangji:before { content: "\e629"; }

.icon-shenglvehao:before { content: "\e645"; }

.icon-arrows-copy:before { content: "\e601"; }

.icon-16:before { content: "\e640"; }

.icon-shuru:before { content: "\e628"; }

.icon-xiazai-copy:before { content: "\e606"; }

.icon-chahao:before { content: "\e7a4"; }

.icon-zuo:before { content: "\e621"; }

.icon-shoucang:before { content: "\e643"; }

.icon-chahao1:before { content: "\e608"; }

.icon-Group:before { content: "\e647"; }

.icon-tupian:before { content: "\e63d"; }

.icon-laji:before { content: "\e62f"; }

.icon-xinxi:before { content: "\e600"; }

.icon-jiazai:before { content: "\e61e"; }

.icon-sousuo:before { content: "\e612"; }

.icon-mima:before { content: "\e625"; }

.icon-yuanquanduihao:before { content: "\e6af"; }

